<section class="legend-wrap">
    <section class="legend-item">
        <h5>Máscara</h5>
        <div class="imgs-wrap">
            <img src="/assets/images/required-mask.png" alt="">
            <img src="/assets/images/recommended-mask.png" alt="">
        </div>
    </section>
    <section class="legend-item">
        <h5>Toalha</h5>
        <div class="imgs-wrap">
            <img src="/assets/images/required-towel.png" alt="">
            <img src="/assets/images/recommended-towel.png" alt="">
        </div>
    </section>
    <section class="legend-item">
        <h5>Bebedouro</h5>
        <div class="imgs-wrap">
            <img src="/assets/images/partial-fountain.png" alt="">
            <img src="/assets/images/not-allowed-fountain.png" alt="">
        </div>
    </section>
    <section class="legend-item">
        <h5>Vestiários</h5>
        <div class="imgs-wrap">
            <img src="/assets/images/required-lockerroom.png" alt="">
            <img src="/assets/images/partial-lockerroom.png" alt="">
            <img src="/assets/images/not-allowed-lockerroom.png" alt="">
        </div>
    </section>
</section>