<section class="card">
    <span class="status" [ngClass]="{opened: card?.opened}">{{card?.opened ? 'Aberto' : 'Fechado'}}</span>
    <h3>{{card?.title}}</h3>
    <p [innerHTML]="card?.content"></p>
    <div class="imgs">
        <img *ngIf="card?.mask" [src]="'/assets/images/' + card?.mask + '-mask.png'" alt="">
        <img *ngIf="card?.towel" [src]="'/assets/images/' + card?.towel + '-towel.png'" alt="">
        <img *ngIf="card?.fountain" [src]="'/assets/images/' + card?.fountain + '-fountain.png'" alt="">
        <img *ngIf="card?.locker_room" [src]="'/assets/images/' + card?.locker_room + '-lockerroom.png'" alt="">
    </div>
    <div class="border"></div>
    <ul>
        <li *ngFor="let schedule of card?.schedules">
            <b>{{schedule.weekdays}}</b>
            <span>{{schedule.hour}}</span>
        </li>
    </ul>
</section>