header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    min-width: 100vw;
}

header .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center ;
    background: black;
    padding: 24px;
    width: 100%;
}

header .logo-wrap img {
    height: 100px;
}

header .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
}

header .text-wrap .text-border {
    margin: 16px 0 32px 0;
    width: 20%;
    height: 10px;
    background-color: var(--dark-gray);
}

header .text-wrap h1 { font-size: 34px; color: var(--dark-gray); }
header .text-wrap p { color: var(--light-gray); }