.form-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #eeeeee;
}

.form-heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 16px;
}

.form-heading small {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
    color: var(--light-gray)
}

.form-heading small img {
    height: 30px;
    margin-right: 16px;
}

.form-heading h4 {
    font-weight: 300;
    font-size: 28px;
    color: var(--light-gray);
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 12px 4px;

    gap: 24px;
    &.results {
        margin-top: 32px;
        border: none;
    }
}

.form-section label {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--light-gray)
}

.form-section label input { margin-right: 8px; }

.form-section span {
    font-weight: 300;
    color: var(--light-gray)
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    gap: 12px;
}

.form-buttons .btn {
    font-size: 16px;
    border-radius: 4px;
    background: white;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid #eeeeee;
    font-weight: 700;
    color: var(--dark-gray);
    width: 80%;
}

.form-buttons .btn.btn-primary {
    border: none;
    background-color: var(--yellow);
}

@media (min-width: 768px) {
    .form-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px 0;
        gap: 12px;
    }

    .form-buttons .btn {
        font-size: 16px;
        border-radius: 4px;
        background: white;
        text-transform: uppercase;
        padding: 8px;
        border: 1px solid #eeeeee;
        font-weight: 700;
        color: var(--dark-gray);
        width: 30%;
    }

    .form-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 12px 4px;
    
        &.results {
            margin-top: 32px;
            border: none;
        }
    }
}