<form class="form-filter" [formGroup]="formGroup">
    <div class="form-heading">
        <small>
            <img src="assets/images/icon-hour.png" alt="">
            Horário
        </small>
        <h4>Qual período quer treinar?</h4>
    </div>

    <div class="form-section">
        <label for="morning">
            <input type="radio" name="hour" formControlName="hour" value="morning">
            Manhã
        </label>
        <span>06:00 às 12:00</span>
    </div>
    <div class="form-section">
        <label for="afternoon">
            <input type="radio" name="hour" formControlName="hour" value="afternoon">
            Tarde
        </label>
        <span>12:01 às 18:00</span>
    </div>
    <div class="form-section">
        <label for="night">
            <input type="radio" name="hour" formControlName="hour" value="night">
            Noite
        </label>
        <span>18:01 às 23:00</span>
    </div>

    <div class="form-section results">
        <label for="showClosed">
            <input type="checkbox" name="showClosed" formControlName="showClosed">
            Exibir unidades fechadas
        </label>
        <span>Resultados encontrados {{results.length}}</span>
    </div>

    <div class="form-buttons">
        <button class="btn btn-primary" (click)="onSubmit()">Encontrar unidades</button>
        <button class="btn" (click)="onClean()">Limpar</button>
    </div>
</form>